# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ML models
*.pkl

# ===== Environment variables =====
.env
.env.local
.env.production

# ===== Node / Next.js =====
node_modules/
.next/
out/

# ===== OS / Editor =====
.DS_Store
.vscode/
.idea/

# ===== Logs =====
*.log
