# === Node / Frontend ===
node_modules/
.next/
out/
.env
*.log
.DS_Store

# === Python / Backend ===
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.db
*.sqlite3
*.pkl

# === General ===
.idea/
.vscode/
*.swp
